<h1>Bonjour {{NICKNAME}},</h1>
<p
  style="
  margin-top: 10px;"
>
  Nous vous remercions de votre inscription sur Rannan.
  Pour finaliser votre inscription et accéder à toutes les fonctionnalités de notre site,
  veuillez cliquer sur le bouton ci-dessous :
</p>
<button 
  style="
  display: inline-block;
  margin-top: 5px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4ca8af;
  text-decoration: none;
  border: #ffffff;
  border-radius: 4px;"
>
  <a style="color: #ffffff;" href="{{URL_PLACEHOLDER}}">
    Valider mon adresse email
  </a>
</button>
<p
  style="
  margin-top: 10px;"
>
  Si vous n'avez pas tenté de vous inscrire à Rannan, veuillez ignorer cet e-mail ou nous contacter immédiatement à l'adresse support@rannan.com.
</p>
<p>
  Nous avons hâte de vous accueillir officiellement parmi nous. Merci pour votre confiance !
</p>
<p
  style="
  margin-top: 10px;"
>
  Merci, l'équipe de Rannan.io
</p>