<h1>Bonjour {{NICKNAME}},</h1>
<p
  style="
  margin-top: 10px;"
>
  Vous avez récemment demandé une réinitialisation de votre mot de passe. 
  <br>
  Pour poursuivre ce processus, veuillez cliquer sur le bouton ci-dessous :
</p>
<button 
  style="
  display: inline-block;
  margin-top: 5px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4ca8af;
  text-decoration: none;
  border: #ffffff;
  border-radius: 4px;"
>
  <a style="color: #ffffff;" href="{{URL_PLACEHOLDER}}">
    Réinitialiser le mot de passe
  </a>
</button>
<p
  style="
  margin-top: 10px;"
>
  Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet e-mail ou nous contacter immédiatement.
</p>
<p
  style="
  margin-top: 10px;"
>
  Merci, l'équipe de Rannan.io
</p>